@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@* @if (SignInManager.IsSignedIn(User)) *@
@if (User.Identity.IsAuthenticated)
{
    var allUserPermissions = User.FindFirst("UserPermission")?.Value ?? "";

    var userAvatar = User.FindFirst("UserAvatar")?.Value ?? "default-avatar.jpg";

    var canViewDashboard = allUserPermissions.Contains(":DASHBOARD");

    var canViewTicket = allUserPermissions.Contains(":TICKETS");

    var canViewSystem = allUserPermissions.Contains(":SYSTEM");

    var canViewTicketCate = allUserPermissions.Contains(":TICKETCATEGORIES");

    var canViewUser = allUserPermissions.Contains(":USERS");

    var canViewRole = allUserPermissions.Contains(":ROLES");

    var canViewDepartment = allUserPermissions.Contains(":DEPARTMENTS");

    var canViewLogs = allUserPermissions.Contains("SYSTEM:AUDITTRAILS");

    <div class="header">
        <div class="header-left">
            <a href="~/Home/Index" class="logo">
                <img src="https://media.huce.edu.vn/Media/2_SINHVIEN/FolderFunc/202304/Images/logodhxd-20230421024916-e.png" alt="Logo">
            </a>
            <a href="~/Home/Index" class="logo logo-small">
                <img src="~/assets/img/logo-dhxd.png" alt="Logo" width="30" height="30">
            </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
        </a>
        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="nav user-menu">
            <li class="nav-item user-logo">
                <span class="avatar avatar-sm justify-content-center">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">
                        <img class="avatar-img rounded-circle" src="~/assets/img/profiles/@userAvatar" width="41" alt="">
                    </a>
                </span>
            </li>
        </ul>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main Menu</span>
                    </li>

                    @if (canViewSystem)
                    {
                        @* <li>
                <a class="" asp-area="" asp-controller="SystemSettings" asp-action="Index"><i class="fas fa-user"></i> <span>System Settings</span></a>
                </li>
                <li>
                <a class="" asp-area="" asp-controller="SystemTasks" asp-action="Index"><i class="fas fa-user"></i> <span>System Tasks</span></a>
                </li>
                <li>
                <a class="" asp-area="" asp-controller="SystemCodes" asp-action="Index"><i class="fas fa-history"></i> <span>System Codes</span></a>
                </li>
                <li>
                <a class="" asp-area="" asp-controller="SystemCodeDetails" asp-action="Index"><i class="fas fa-history"></i> <span>System Code Details</span></a>
                </li> *@

                        <li class="submenu">
                            <a href="#"><i class="fas fa-wrench"></i> <span>System</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a class="" asp-area="" asp-controller="SystemSettings" asp-action="Index">System Settings</a></li>
                                <li><a class="" asp-area="" asp-controller="SystemTasks" asp-action="Index">System Tasks</a></li>
                                <li><a class="" asp-area="" asp-controller="SystemCodes" asp-action="Index">System Codes</a></li>
                                @* <li><a class="" asp-area="" asp-controller="SystemCodeDetails" asp-action="Index">System Code Details</a></li> *@
                            </ul>
                        </li>
                    }

                    @if (canViewLogs)
                    {
                        @* <li>
                <a class="" asp-area="" asp-controller="AuditTrails" asp-action="Index"><i class="fas fa-history"></i> <span>Audit Trails</span></a>
                </li>
                <li>
                <a class="" asp-controller="ErrorLogs" asp-action="Index"><i class="fas fa-history"></i> <span>Error Logs</span></a>
                </li> *@

                        <li class="submenu">
                            <a href="#"><i class="fas fa-history"></i> <span>Logs</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a class="" asp-area="" asp-controller="AuditTrails" asp-action="Index">Audit Trails</a></li>
                                <li><a class="" asp-controller="ErrorLogs" asp-action="Index">Error Logs</a></li>
                            </ul>
                        </li>
                    }

                    @if (canViewRole)
                    {
                        @* <li>
                <a class="" asp-area="" asp-controller="Roles" asp-action="Index"><i class="fas fa-user"></i> <span>Roles</span></a>
                </li>

                <li>
                <a class="" asp-area="" asp-controller="UserRoleProfiles" asp-action="Index"><i class="fas fa-user"></i> <span>Rights</span></a>
                </li> *@

                        <li class="submenu">
                            <a href="#"><i class="fas fa-user"></i> <span>Roles</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a class="" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a></li>
                                @* <li><a class="" asp-area="" asp-controller="UserRoleProfiles" asp-action="Index">Rights</a></li> *@
                            </ul>
                        </li>
                    }

                    @if (canViewUser)
                    {
                        <li>
                            <a class="" asp-area="" asp-controller="Users" asp-action="Index"><i class="fas fa-user"></i> <span>Users</span></a>
                        </li>
                    }

                    @* @if (canViewDepartment)
                    {
                        <li>
                            <a class="" asp-area="" asp-controller="Departments" asp-action="Index"><i class="fas fa-user"></i> <span>Departments</span></a>
                        </li>
                    } *@

                    @if (canViewTicketCate)
                    {
                        <li>
                            <a class="" asp-area="" asp-controller="TicketCategories" asp-action="Index"><i class="fas fa-bookmark"></i> <span>Ticket Categories</span></a>
                        </li>
                        @* <li>
                <a class="" asp-area="" asp-controller="TicketSubCategories" asp-action="SubCategories"><i class="fas fa-history"></i> <span>Ticket Sub-Categories</span></a>
                </li> *@
                    }

                    @if (canViewTicket)
                    {
                        @* <li>
                <a class="" asp-area="" asp-controller="Tickets" asp-action="Index"><i class="fas fa-ticket"></i> <span>Tickets</span></a>
                </li>
                <li>
                <a class="" asp-area="" asp-controller="Comments" asp-action="Index"><i class="fas fa-comment"></i> <span>Comments</span></a>
                </li> *@

                        <li class="submenu">
                            <a href="#"><i class="fas fa-ticket"></i> <span>Tickets</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a class="" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a></li>
                                @* <li><a class="" asp-area="" asp-controller="Comments" asp-action="Index">Comments</a></li> *@
                            </ul>
                        </li>
                    }

                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <li>
                            <a href="#" onclick="this.closest('form').submit();return false;"><i class="fas fa-sign-out"></i> <span>Logout</span></a>
                        </li>
                    </form>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Home">Help Desk System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
}