@{
    //ViewData["Title"] = "Error Logs";
    ViewBag.Title = "Error Logs";
    ViewBag.HideTitle = true;
}

<div class="content container-fluid">
    <div class="row">
        <iframe src="ErrorLogs/errors" height="1000" frameborder="0"></iframe>
    </div>
</div>
