@model HelpDeskSystem.Models.Ticket

@{
    ViewData["Title"] = "Edit";

    var allUserPermissions = User.FindFirst("UserPermission")?.Value ?? "";

    var admin = allUserPermissions.Contains(":SYSTEM");
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit ticket</h3>
            </div>

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-close"></i>
                    @TempData["Error"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="col-12">
                            <h5 class="form-title"><span>Ticket details</span></h5>
                        </div>
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <input type="hidden" asp-for="Id" />
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input asp-for="Title" class="form-control" placeholder="" />
                                        <label asp-for="Title" class="control-label"></label>
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input name="NewAttachment" class="form-control" type="file" accept=".png,.jpg,.jpeg" placeholder="" />
                                        <label for="NewAttachment" class="control-label">Attachment</label>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-control" id="Category" placeholder="" asp-items="ViewBag.CategoryId">
                                            <option value=""> -- Category -- </option>
                                        </select>
                                        <label class="control-label">Category</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <select asp-for="SubCategoryId" class="form-control" id="SubCategory">
                                            <option value=""> -- Sub-Category -- </option>
                                        </select>
                                        <label asp-for="SubCategoryId" class="control-label"></label>
                                    </div>
                                </div>

                                @if (admin)
                                {
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <select asp-for="PriorityId" class="form-control" placeholder="" asp-items="ViewBag.PriorityId"></select>
                                            <label asp-for="PriorityId" class="control-label"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <select asp-for="StatusId" class="form-control" placeholder="" asp-items="ViewBag.StatusId"></select>
                                            <label asp-for="StatusId" class="control-label"></label>
                                        </div>
                                    </div>
                                }

                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <textarea asp-for="Description" class="form-control" placeholder="" rows="10"></textarea>
                                        <label asp-for="Description" class="control-label"></label>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>

                                <input type="hidden" asp-for="CreatedById" />
                                <input type="hidden" asp-for="CreatedOn" />
                                <input type="hidden" asp-for="Attachment" />
                            </div>
                            <div class="form-group">
                                <a asp-action="Index" class="btn btn-primary float-start"><i class="fas fa-arrow-left"></i> Back to List</a>
                                <input type="submit" value="Save" class="btn btn-primary float-end" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);

            $('#Category').change(function () {
                var categoryId = $(this).val();
                $('#SubCategory').empty();
                $('#SubCategory').append('<option value=""> -- Sub-Category -- </option>');

                if (categoryId) {
                    $.ajax({
                        url: '@Url.Action("GetTicketSubCategories", "Datas")',
                        type: 'GET',
                        data: { categoryId: categoryId },
                        success: function (subCategories) {
                            $.each(subCategories, function (index, subCategory) {
                                $('#SubCategory').append('<option value="' + subCategory.id + '">' + subCategory.name + '</option>');
                            });
                        }
                    });
                }
            });
        });
    </script>
}
