@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div class="account-modif">
    <h1>Manage your account</h1>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row profile-ctn-modif">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="account-setting-ctn-modif">
            <div class="col-md-9 profile-modif">
                @RenderBody()
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
