@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="login-body big-margin-top">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>@ViewData["Title"]</h1>
                        <p class="account-subtitle">
                            Please check your email to reset your password.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
