@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<div class="login-body big-margin-top">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Login</h1>
                        <p class="account-subtitle">Your login is protected with an authenticator app. Enter your authenticator code below.</p>
                        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                            <input asp-for="RememberMe" type="hidden" />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-group form-floating">
                                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                                <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                            </div>
                            <div class="checkbox mb-3">
                                <label asp-for="Input.RememberMachine" class="form-label">
                                    <input asp-for="Input.RememberMachine" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMachine)
                                </label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary btn-block">Log in</button>
                            </div>
                        </form>
                        <hr id="login-hr" />
                        <p class="fa-sub">
                            Don't have access to your authenticator device? You can
                            <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}